<div class="flex justify-center items-center mt-5">
  <div class="w-full max-w-md">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <div class="px-6 py-8">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
          Reset your password
        </h2>
        {% form 'reset_customer_password' %}
          {% if form.errors %}
            <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
              <strong class="font-bold">Error!</strong>
              <p class="block sm:inline">{{ form.errors | default_errors }}</p>
            </div>
          {% endif %}
          <div class="space-y-2">
            <label for="pass" class="block text-sm font-medium text-gray-700">New Password</label>
            <input
              type="password"
              id="pass"
              name="customer[password]"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-lime-500 focus:border-lime-500 focus-visible"
              aria-required="true"
              placeholder="Password"
              autocomplete="new-password">
          </div>

          <div class="space-y-2">
            <label for="password" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
            <input
              type="password"
              id="password"
              name="customer[password_confirmation]"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-lime-500 focus:border-lime-500 focus-visible"
              aria-required="true"
              placeholder="Confirm Password"
              autocomplete="new-password">
          </div>
          <div>
            <button
              type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-lime-500 hover:bg-white hover:text-lime-500 hover:border-lime-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500 focus-visible my-4"
              aria-label="Reset">
              Reset Password
            </button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>

</div>